
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three day</title>
    <link rel="stylesheet" href="{% static 'css/input.css' %}" />
  </head>
  <body>
    {% include 'nav.html' %}
    <h1>Template Inheritance</h1>
    <h1>Basics File</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aperiam,
      iusto accusantium aliquam possimus vel cumque quod temporibus. Natus,
      ullam velit odit officia ducimus deleniti ipsa recusandae modi. Omnis iste
      facere quod repellendus officia iusto quisquam eligendi? Architecto
      repellat fugiat inventore repellendus nam quas? Natus fugiat animi nam
      rerum? Deserunt ex provident nihil eos similique, neque laudantium
      voluptatem non perferendis dolorum minima illum esse est ad odit aliquid
      ipsa? Dolores atque fugiat est praesentium, accusamus nemo, delectus
      officiis sequi nisi vel pariatur? Ea quia assumenda molestias cumque
      excepturi iusto, eveniet ad velit fugit? Velit illo fuga placeat nobis.
      Repudiandae, officiis!
    </p>
    {% include 'footer.html' %}
  </body>
</html>
